<!DOCTYPE html>
<html lang="en" ng-app="addUserApp" ng-controller="addCtrl">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link rel="stylesheet" href="node_modules/layui-src/dist/css/layui.css">
    <script src="angular.js"></script>
    <script src="js/addController.js"></script>
</head>
<body>

    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(index, user) in users">
            <td>{{index}}</td>
            <td>{{user}}</td>
        </tr>
        </tbody>
    </table>

    <button ng-click="isShow()" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal">添加新用户</button>
    <div ng-show="ishow">
        <form class="layui-form"><label class="layui-form-label">新用户</label>
            <input type="text" class="layui-input-block" placeholder="请输入姓名" ng-model="addName">
            <button ng-click="addUser()" class="layui-btn layui-btn-warm">添加</button>
        </form>
    </div>

</body>
</html>
